@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto:400,700&display=swap');

/* Global styles
-----------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
}

*::before, *::after {
  box-sizing: border-box;
}

*::selection {
  background-color: #000;
  color: #fff;
}

html, 
body {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  color: #212121;
  min-width: 320px;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #ffffff;
  min-height: 100%;
}

body *::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background-color: transparent;
}

body *::-webkit-scrollbar-thumb {
  width: 3px;
  height: 3px;
  background: #615c60;
  cursor: pointer;
}

ul, li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

input,
textarea,
button,
select {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  -webkit-appearance: none !important;
  border-radius: 0 !important;
  background: none;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

button {
  cursor: pointer;
  transition: .3s;
}

a {
  text-decoration: none;
  text-transform: capitalize;
  color: #212121;
}

.page {
  width: 1210px;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 100%;
}

h4 {
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
  padding: 124px 0 31px;
}

h4 + p {
  width: 622px;
}

/* Header
-----------------------------*/
header .page {
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
  justify-content: space-between;
}

header .logo {
  font-size: 25px;
  font-weight: 700;
}

/* Navigation
-----------------------------*/
nav {
  display: flex;
}

nav div {
  display: flex;
}

nav div a {
  font-size: 20px;
  font-weight: 600;
  padding: 50px 23px;
  white-space: nowrap;
}

nav .nav-search {
  margin: auto 0 auto 23px;
}

nav a:hover {
  color: #00897b;
}

.hide-desktop {
  display: none;
}

/* Main Block
-----------------------------*/
.main {
  background: url(../images/main-page-bg.jpg) center top / cover no-repeat;
  height: calc(100vh - 70px);
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.main h1 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 600;
  padding: 175px 0 30px;
}

.main p {
  font-size: 22px;
}

.btn-block a {
  display: inline-block;
  color: #ffffff;
  border: 3px solid #f8f8f8;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  padding: 20px 31px;
  margin: 112px 8px 100px;
}

.btn-block a:hover {
  border-color: #00897b;
  background: #00897b;
}

.scroll a {
  display: inline-block;
}

/* About Block
-----------------------------*/
.about {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about .page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about .odds-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 121px 0;
}

.about .odds-block > div {
  width: 30.5%;
}

.odds-block-item div {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  padding: 32px 0 16px;
}

.about .odds-block p {
  padding: 0 58px;
}

/* Services
-----------------------------*/
.services {
  background: #e4fdf9;
  text-align: center;
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}

.services .page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
}

.services-list > div {
  width: calc(33% - 16px);
}

.services-list .services-list-item:nth-child(-n+3) {
  margin-bottom: 30px;
}

.services-list-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  padding: 57px 42px 50px;
  transition: .3s;
}

.services-list-item div {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  padding: 35px 0 14px;
}

.services-list-item p {
  line-height: 25px;
  padding-bottom: 40px;
}

.services-list-item a {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border: 2px solid #212121;
  padding: 14px 12px;
}

.services-list-item:hover {
  background: #00897b;
  color: #ffffff;
}

.services-list-item:hover a {
  border-color: #ffffff;
  color: #ffffff;
}

/* Latest Works
-----------------------------*/
.latest-works {
  text-align: center;
}

.latest-works .page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work-nav {
  display: flex;
  justify-content: center;
}

.work-nav {
  font-size: 20px;
  font-weight: 600;
  padding: 112px 0;
}

.work-nav a {
  width: 180px;
  padding: 13px 0;
  border: 2px solid #00897b;
  text-transform: uppercase;
  margin: 0 10px;
}

.work-nav a:first-child {
  width: 100px;
}

.work-nav a:hover {
  border-color: #00897b;
  background: #00897b;
  color: #ffffff;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

.work-list .work-item-wrap:nth-child(-n+3) {
  margin-bottom: 30px;
}

/* hover blocks */
.work-item-wrap {
  position: relative;
  width: calc(33% - 15px);
}

.work-item-hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}

.work-item-hover div:first-child {
  font-size: 20px;
  text-transform: capitalize;
}

.work-item-wrap:hover .work-item-hover {
  visibility: visible;
  opacity: 1;
}
/* hover blocks end */

.latest-works .page > a {
  width: 220px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  background: #00897b;
  color: #ffffff;
  padding: 23px 0;
  margin: 130px 0;
}

/* Pricing Plan
-----------------------------*/
.price-plan {
  text-align: center;
  background: #f0f1f1;
}

.price-plan .page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* price options */
.price-options {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 121px 0;
  font-size: 17px;
  font-weight: 300;
}

.option-item {
  width: 30.5%;
  background: #ffffff;
  transition: .3s;
}

/* blue wrapper */
.blue-wrap {
  font-size: 25px;
  color: #ffffff;
  position: relative;
  overflow: hidden;
}

.blue-wrap div {
  position: relative;
  z-index: 2;
}

.blue-wrap div:first-child {
  padding: 47px 0 45px;
}

.blue-wrap div + div {
  margin-bottom: 63px;
}

.dollar-sign {
  position: relative;
  bottom: 17px;
}

/* font-sizes */
.font-big {
  font-size: 50px;
}

.font-big + span {
  font-size: 17px;
}
/* font-sizes end */

.blue-wrap::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background: #3949ab;
  transform: skewY(-5deg);
  transform-origin: top left;
}

.info-wrap {
  width: 180px;
  margin: 0 auto;
}

.info-wrap div {
  border-bottom: 1px solid #bfbfbf;
  margin-top: 33px;
  padding-bottom: 10px;
}

.price-options a {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  border: 2px solid #000000;
  padding: 18px 32px;
  margin: 66px 0; 
}

.option-item:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.option-item:hover a {
  text-transform: uppercase;
  background: #00897b;
  border-color: #00897b;
  color: #ffffff;
}

/* Team
-----------------------------*/
.team {
  text-align: center;
}

.team .page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-members {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 128px 0 260px;
}

.member {
  width: calc(33% - 15px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.member img {
  border-radius: 10px;
}

.member-name {
  font-size: 20px;
  font-weight: 600;
  padding: 34px 0 8px;
}

.social-media-block {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 45px;
}

.social-media-block a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f1f1;
  border-radius: 10px;
}

/* Blog
-----------------------------*/
.blog {
  background: #e4fdf9;
  text-align: center;
}

.blog .page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog .page > a {
  width: 220px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  background: #00897b;
  color: #ffffff;
  padding: 23px 0;
  margin: 130px 0;
}

.blog-feed {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 128px;
}

.blog-news {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.news-item {
  width: calc(50% - 15px);
  display: flex;
  text-align: left;
  align-items: flex-start;
  justify-content: space-between;
}

.news-item > div {
  padding-top: 59px;
}

.news-item a {
  font-size: 25px;
  font-weight: 600;
  color: #00897b;
}

.news-item p {
  width: 77%;
}

.date-wrap {
  width: 60%;
  display: flex;
  justify-content: center;
  padding: 18px 0;
}

.publication {
  display: flex;
  width: 50%;
  align-items: center;
}

.publication div {
  font-size: 17px;
  font-weight: 600;
  margin-left: 11px;
}

.member {
  width: calc(33% - 15px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* Contact Us
-----------------------------*/
.contact-us {
  text-align: center;
  background: url(../images/contact-bg.jpg) no-repeat center center;
  background-size: cover;
}

.contact-us .page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

.contact-info {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 96px 0 78px;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

.contact-item {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.contact-item div:nth-child(2) {
  margin-top: 34px;
}

.msg-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 600;
}

.msg-form div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.msg-form div input {
  height: 84px;
  width: calc(50% - 15px);
  padding-left: 22px;
}

input[type=text],
.msg-form textarea {
  border-radius: 10px !important;
  font-size: 20px;
  font-weight: 600;
  background: #ffffff;
  color: #212121;
}

.msg-form textarea {
  width: 100%;
  height: 320px;
  margin-top: 20px;
  padding: 25px 0 0 22px;
  resize: none;
}

button[type=submit] {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 700;
  color: #212121;
  text-transform: uppercase;
  background: #ffffff;
  margin: 32px 0 100px;
  padding: 22px 84px;
  float: right;
  border-radius: 10px !important;
}

/* Media Queries
-----------------------------*/
/* 900px */
@media only screen and (max-width: 900px) {
  h4 {
    font-size: 1.5em;
    padding: 60px 0 15px;
  }

  h4 + p {
    width: 75%;
    font-size: .9em;
  }

  /* navigation */
  nav a {
    font-size: 1.1em;
    padding: 25px 11px;
  }

  /* mobile navigation */
  #nav {
    display: block;
    position: fixed;
    width: 40%;
    top: 0;
    right: 0;
    text-align: left;
    background: #24292c;
    height: 100%;
    z-index: 7;
    padding-top: 3em;
  }

  #nav a {
    display: block;
    color: white;
    text-decoration: none;
    width: 100%;
    padding: 1em 2em;
    background-color: #31373b;
  }

  #nav a:hover {
    background-color: #41494e;
  }

  .exit-btn {
    display: block;
    margin-bottom: 1em;
    margin-top: -1.3em;
    text-align: right;
    padding: 0 1.4em;
  }

  .exit-btn img {
    width: 15px;
    cursor: pointer;
  }

  #nav.hide-mobile {
    display: none;
  }

  .show-mobile {
    display: flex;
    margin-left: 10px;
  }

  /* main block */
  .main {
    height: auto;
  }

  .main h1 {
    font-size: 2em;
    padding-top: 90px;
  }

  .main p {
    font-size: 1em;
  }

  .btn-block a {
    font-size: .8em;
    padding: 10px 15px;
    margin: 60px 8px 50px;
  }

  .scroll a img {
    width: 70%;
    height: auto;
  }

  /* about */
  .about .odds-block p {
    text-align: center;
  }

  .about .odds-block {
    justify-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 30px 0;
  }

  .about .odds-block > div {
    display: flex;
    align-items: center;
    width: 90%;
  }
  
  .odds-block-item {
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
  }

  .odds-block-item div {
    font-size: 1.2em;
    padding: 16px 0 8px;
    margin-bottom: 10px;
    margin-left: 15px;
  }

  .odds-block-item img {
    width: 10%;
  }

  .about .odds-block p {
    font-size: .9em;
    line-height: 18px;
    padding: 0 29px;
    text-align: center;
  }

  /* services */
  .services {
    padding-bottom: 60px;
  }

  .services-list {
    margin-top: 50px;
  }

  .services-list > div {
    width: calc(33% - 8px);
  }

  .services-list .services-list-item:nth-child(-n+3) {
    margin-bottom: 15px;
  }

  .services-list-item {
    padding: 28px 21px 25px;
  }

  .services-list-item div {
    font-size: 1.1em;
    padding: 17px 0 7px;
  }

  .services-list-item p {
    font-size: .9em;
    line-height: 21px;
    padding-bottom: 20px;
  }

  .services-list-item a {
    font-size: 1.1em;
    border: 1px solid #212121;
    padding: 7px 6px;
  }

  .services-list-item img {
    width: 20%;
  }

  /* latest works */
  .work-nav {
    font-size: 1.1em;
    padding: 56px 0;
  }

  .work-nav a {
    width: 120px;
    padding: 7px 0;
    border: 1px solid #00897b;
    margin: 0 5px;
  }

  .work-nav a:first-child {
    width: 50px;
  }

  .work-list .work-item-wrap:nth-child(-n+3) {
    margin-bottom: 15px;
  }

  .work-item-hover div:first-child {
    font-size: 1.1em;
  }

  .latest-works .page > a {
    width: 110px;
    font-size: 1.1em;
    padding: 11px 0;
    margin: 65px 0;
  }

  /* price plan */
  .price-options {
    width: 90%;
    padding: 60px 0;
    font-size: .9em;
  }

  .blue-wrap {
    font-size: 1.3em;
  }

  .blue-wrap div:first-child {
    padding: 24px 0 23px;
  }

  .blue-wrap div + div {
    margin-bottom: 31px;
  }

  .font-big {
    font-size: 2em;
  }

  .dollar-sign {
    bottom: 11px;
  }

  .font-big + span {
    font-size: .9em;
  }

  .info-wrap {
    width: 100px;
  }

  .info-wrap div {
    margin-top: 16px;
    padding-bottom: 5px;
  }

  .price-options a {
    font-size: 1em;
    border: 1px solid #000000;
    padding: 9px 16px;
    margin: 33px 0; 
  }

  /* team */
  .team {
    align-items: center;
  }

  .team-members {
    padding: 68px 0 130px;
  }

  .member-name {
    font-size: 1em;
    padding: 17px 0 4px;
  }

  .social-media-block {
    margin-top: 22px;
  }

  /* blog */
  .blog .page > a {
    width: 110px;
    font-size: 1em;
    padding: 12px 0;
    margin: 75px 0;
  }

  .blog-feed {
    padding-top: 68px;
  }

  .news-item > div {
    padding-top: 30px;
  }

  .news-item a {
    font-size: 1.2em;
  }

  .date-wrap {
    padding: 9px 0;
  }

  .publication div {
    font-size: .9em;
    margin-left: 6px;
  }

  /* contact us */
  .contact-info {
    padding: 48px 0 38px;
    font-size: 1em;
    line-height: 22px;
  }

  .contact-info img {
    width: 50%;
    height: auto;
  }

  .contact-item div:nth-child(2) {
    margin-top: 17px;
  }

  .msg-form {
    width: 80%;
    font-size: 1em;
  }

  .msg-form div input {
    height: 42px;
    padding-left: 11px;
  }

  input[type=text],
  .msg-form textarea {
    font-size: 1em;
  }

  .msg-form textarea {
    height: 160px;
    margin-top: 10px;
    padding: 13px 0 0 11px;
  }

  button[type=submit] {
    font-size: 1em;
    margin: 16px 0 50px;
    padding: 11px 42px;
  }
}

/* 650px */
@media only screen and (max-width: 650px) {
  /* about */
  .odds-block-item {
    margin-bottom: 34px;
  }

  .odds-block-item div {
    padding: 0;
    margin-bottom: 2px;
  }

  /* services */
  .services-list {
    flex-direction: column;
    align-items: center;
  }

  .services-list > div {
    width: 65%;
  }

  .services-list-item {
    padding: 57px 42px 50px;
    margin-bottom: 15px;
  }

  .services-list-item div {
    font-size: 20px;
    padding: 35px 0 14px;
  }

  .services-list-item p {
    line-height: 25px;
    padding-bottom: 40px;
  }

  .services-list-item a {
    font-size: 20px;
    border: 2px solid #212121;
    padding: 14px 12px;
  }

  /* price plan */
  .price-options {
    align-items: center;
    flex-direction: column;
    font-size: .9em;
  }

  .option-item {
    width: 60%;
    margin-bottom: 25px;
  }

  .blue-wrap div:first-child {
    font-size: 1.4em;
  }

  /* blog */
  .blog-news {
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .news-item {
    width: 70%;  
  }

  .news-item > div {
    padding-top: 15px;
  }

  .blog-news:nth-child(2) {
    flex-direction: column-reverse;
  }

  .news-item p {
    width: 100%;
    text-align: justify;
  }

  .publication div {
    font-size: .9em;
  }
}

/* 580px */
@media only screen and (max-width: 580px) {
  h4 {
    padding: 20px 0;
  }

  h4 + p {
    width: 80%;
  }

  /* about */
  .about .odds-block {
    padding: 20px 0 0;
  }

  /* service */
  .services {
    padding-bottom: 20px;
  }

  .services-list {
    margin-top: 25px;
  }

  /* latest work */
  .work-nav {
    padding: 28px 0;
  }

  .work-list {
    align-items: center;
    flex-direction: column;
    width: 90%;
  }

  .work-list a {
    margin-bottom: 15px;
    width: 80%;
  }

  .latest-works .page > a {
    margin: 12px 0 26px;
  }

  /* pricing plan */
  .option-item {
    width: 70%;
  }

  .price-options {
    width: 100%;
    padding: 25px 0;
  }

  /* team */
  .team-members {
    align-items: center;
    flex-direction: column;
    padding-bottom: 5px;
  }

  .member {
    width: 70%;
    margin-bottom: 30px;
  }

  .team-members {
    padding-top: 30px;
  }

  .member-name {
    font-size: 1.2em;
    padding: 8px 0 0;
  }

  .social-media-block {
    margin-top: 5px;
  }

  /* blog */
  .date-wrap {
    width: 70%;
  }

  .blog-feed {
    padding-top: 25px;
  }

  .news-item {
    width: 80%;
  }

  .blog .page > a {
    margin: 0 0 35px;
  }

  /* contact us */
  .contact-info {
    align-items: center;
    flex-direction: column;
    padding: 19px 0 7px;
  }

  .contact-item {
    margin-bottom: 30px;
  }

  .contact-info img {
    width: 80%;
  }

  .contact-item div:nth-child(2) {
    margin-top: 5px;
  }
  
  .msg-form {
    width: 90%;
  }

  .msg-form div {
    align-items: center;
    flex-direction: column;
  }

  .msg-form div input {
    width: 100%;
  }

  input[name=email] {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 480px) {
  h4 + p {
    width: 95%;
  }

  /* about */
  .about .odds-block > div {
    width: 100%;
  }

  /* services */
  .services-list-item {
    padding: 28px 21px 25px;
  }

  .services-list > div {
    width: 80%;
  }

  .services-list-item div {
    font-size: 1.1em;
    padding: 17px 0 7px;
  }

  .services-list-item p {
    font-size: .9em;
    line-height: 21px;
    padding-bottom: 20px;
  }

  .services-list-item a {
    font-size: 1.1em;
    border: 1px solid #212121;
    padding: 7px 6px;
  }

  .services-list-item img {
    width: 20%;
  }

  /* latest works */
  .work-nav {
    width: 90%;
    font-size: .8em;
  }

  .work-list {
    width: 100%;
  }
  
  /* price plan */
  .option-item {
    width: 80%;
  }

  /* blog */
  .date-wrap {
    width: 90%;
  }

  /* team */
  .member {
    width: 80%;
  }

  /* contact us */
  .contact-item div:nth-child(2) {
    margin-top: 0px;
  }

  .contact-item {
    margin-bottom: 12px;
  }
}

/* 418px */
@media only screen and (max-width: 418px) {
  /* width */
  .about .odds-block > div,
  .services-list > div,
  .work-list a {
    width: 100%;
  }
  .option-item,
  .member,
  .news-item {
    width: 100%;
  }
 
  /* main */
  .main h1 {
    font-size: 1.5em;
    padding: 14px 0;
    line-height: 34px;
  }

  .btn-block a {
    margin: 30px 8px 35px;
  }

  /* services */
  .services-list {
    margin-top: 40px;
  }

  /* latest works */
  .work-nav {
    align-items: center;
    flex-direction: column;
    padding: 14px 0;
    font-size: 1em;
  }

  .work-nav a {
    margin-bottom: 5px;
    width: 50%;
  }

  .work-nav a:first-child {
    width: 50%;
  }

  .latest-works .page > a {
    margin: 37px 0;
  }

  /* price plan */
  .price-options {
    padding: 35px 0;
  }

  /* team */
  .team-members {
  padding-top: 46px;
  }

  /* blog */
  .news-item p {
    text-align: left;
  }

  .blog-feed {
    padding-top: 36px;
  }

  .date-wrap {
    align-items: flex-start;
    flex-direction: column;
    padding: 3px;
  }

  /* contact us */
  .contact-info {
    font-size: .8em;
    line-height: 15px;
  }

  .contact-info img {
    width: 50%;
  }

  .contact-item {
    margin-bottom: 7px;
  }

  .msg-form {
    font-size: .8em;
  }

  button[type=submit] {
    margin-bottom: 25px;
  }
}

/* 380px */
@media only screen and (max-width: 380px) {
  .msg-form {
    width: 100%;
  }
}

/* mobile menu 850px */
@media only screen and (max-width: 850px) {
  nav div a {
    font-size: 1.1em;
  }
}
/* mobile menu 750px */
@media only screen and (max-width: 750px) {
  nav div a {
    font-size: 1em;
  }
}
/* mobile menu 600px */
@media only screen and (max-width: 600px) {
  nav div a {
    font-size: .9em;
  }
}
/* mobile menu 400px */
@media only screen and (max-width: 400px) {
  nav div a {
    font-size: .8em;
  }
}